<div class="container">
    <!-- NAVBAR -->
    <header class="navbar navbar-static-top navbar-center col-xs-11 col-xs-offset-1" role="banner">
      <div class="container">
        <ul class="nav navbar-nav" role="navigation">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Random</a></li>
          <li><a href="#">Popular</a></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
    </header>
    <!-- END NAVBAR -->
    <!-- MAIN CONTENT -->
    <div class="row collection-row">
      <div class="collection-">
        <div class="col-xs-3 col-xs-offset-1">
          <img src="/assets/purple_hands.jpg" class="collection-preview img-circle">
        </div>
        <div class="col-xs-5">
          <h2>Photography 2014</h2>
          <p>Haruki MurakamiOmmod que molupta spedit, eos am, as sa doluptati iuntiberum, sin eicate lam sedio vit, voluptatur, velendi ut et qui tent omnistotatur sam  simi.</p>
          <div class="collection-samples">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
          </div>
          <a href="#" class="visit-collection">more</a>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus add-images"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row collection-row">
      <div class="collection-">
        <div class="col-xs-3 col-xs-offset-1">
          <img src="/assets/purple_hands.jpg" class="collection-preview img-circle">
        </div>
        <div class="col-xs-5">
          <h2>Illustration 2014</h2>
          <p>Haruki MurakamiOmmod que molupta spedit, eos am, as sa doluptati iuntiberum, sin eicate lam sedio vit, voluptatur, velendi ut et qui tent omnistotatur sam  simi.</p>
          <div class="collection-samples">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
          </div>
          <a href="#" class="visit-collection">more</a>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus add-images"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row collection-row">
      <div class="collection-">
        <div class="col-xs-3 col-xs-offset-1">
          <img src="/assets/purple_hands.jpg" class="collection-preview img-circle">
        </div>
        <div class="col-xs-5">
          <h2>Writing 2014</h2>
          <p>Haruki MurakamiOmmod que molupta spedit, eos am, as sa doluptati iuntiberum, sin eicate lam sedio vit, voluptatur, velendi ut et qui tent omnistotatur sam  simi.</p>
          <div class="collection-samples">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
            <img src="/assets/thumb.jpg" class="img-circle thumb">
          </div>
          <a href="#" class="visit-collection">more</a>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus add-images"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>



