<div ng-controller="CollectionIndexCtrl">
	
	<button ng-click="editable = !editable", class="toggle-edit"><p>Toggle Edit</p></button>

	<br><br><br><br>

	<div ng-repeat="collection in user.collections" class="{{collection.title}}">

		<img ng-show="{{collection.image}}" ng-src="{{collection.image}}" class="{{collection-image}}">

		{{collection.title}}
		{{collection.description}}

		<button class="details" ng-click="upload = collection.title">
			Add To {{collection.title}}
		</button>


		<div class="upload-options" ng-show = "upload == collection.title">
			<a href="/users/{{user.id}}/collections/{{collection.id}}/works/new?upload_type=art">Add Art</a>
					<a href="/users/{{user.id}}/collections/{{collection.id}}/works/new?upload_type=writing">Add Writing</a>
		</div>

	</div>

	<a href="users/{{user.id}}/collections/new">Add A New Collection</a>


</div>



