<div class="container collection-display" ng-controller="CollectionShowCtrl" ng-keydown="togglePortfolio($event)" tabindex="0">
	<div class="portfolio-nav nav">
		<ul class="work-selector">
			<li 
				ng-repeat="work in collection.works">

				<img ng-src="{{work.image}}" 
				ng-click="displayFull(work)"
				class="img-circle thumb" 
				ng-class="{'active' : portfolioSelection == $index}">
			</li>

		</ul>
	</div>




	<div class="work-container row">
		<div class="magnify col-md-12" ng-show="currentWork().format == 'image' ">
			<div class="large" style="background:url({{currentWork().image}}) no-repeat"></div>
			<img class="small select" ng-src="{{currentWork().image}}">
		</div>

		<div class="text-work" ng-show="currentWork().format == 'text'">

			<div class="col-md-2" ng-hide="details"></div>
			<div class="col-md-8 text-proper" ng-bind-html="currentWork().text">
			</div>
			<div class="col-md-2"></div>

		</div>
	</div>

		<div class="submit-details col-md-4">


			<div class="submit-ready pull-right col-md-2" ng-init="details = false" ng-click="details = !details">
				<a href="#" class="add-details"><p>Add Details</p></a>
			</div>


			<div ng-show="details" class="form-wrapper col-md-12">

				<div class="row">
					<div class="col-md-12 title-field">
						{{currentWork().title}}
					</div>
				</div>

						
		<li ng-repeat="medium in currentWork().media">{{medium}}</li	
		

		<input id="select-work" type="checkbox" name="selected" ng-click="sendSelection(currentWork().id)" ng-model="selected" ng-true-value="{{currentWork().id}}">Show on profile cover?



				<div class="row">
					<div class="col-md-12 genre-field">

						<li ng-repeat="genre in currentWork().genres">{{genre}}</li>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 description-field">
						{{currentWork().caption}}
					
					</div>
				</div>

				
			</div>

		</div>		






 </div>