<div class="container collection-display" ng-controller="CollectionShowCtrl" ng-keydown="togglePortfolio($event)" tabindex="0">
	<div class="portfolio-nav nav">
		<ul class="work-selector">
			<li 
				ng-repeat="work in collection.works">

				<img ng-src="{{work.image}}" 
				ng-click="displayFull(work)"
				class="img-circle thumb" 
				ng-class="{'active' : portfolioSelection == $index}">
			</li>

		</ul>
	</div>

	<div class="col-md-2 pull-right">
		{{currentWork().title}}
		<li ng-repeat="medium in currentWork().media">{{medium}}</li	
		<li ng-repeat="genre in currentWork().genres">{{genre}}</li>
		{{work.caption}}
		<input id="select-work" type="checkbox" name="selected" ng-click="sendSelection(currentWork().id)" ng-model="selected" ng-true-value="{{currentWork().id}}">Show on profile cover?
	</div>

	<div class="work-container row">
		<div class="magnify col-md-12" ng-show="currentWork().format == 'image' ">
			<div class="large" style="background:url({{currentWork().image}}) no-repeat"></div>
			<img class="small select" ng-src="{{currentWork().image}}">
		</div>

		<div class="text-work" ng-show="currentWork().format == 'text'">

			<div class="col-md-2"></div>
			<div class="col-md-8 text-proper" ng-bind-html="currentWork().text">
			</div>
			<div class="col-md-2"></div>


			<!-- <div class="text-wrapper" ng-repeat="work in currentWork().text">
				<div ng-class="{'first': $first}">
					<p class="work-paragraph" ng-repeat="paragraph in work">
						{{paragraph}}
					</p>
				</div>
			</div> -->

		</div>
	</div>











































<!-- <div ng-repeat="work in collection.works" class="{{work.title}}">

	{{work.title}}
	<img ng-src="{{work.image}}" ng-class="{'uploaded-image': work.format == 'image', 'text-thumbnail': work.format == 'text' }">
	<li ng-repeat="medium in work.media">{{medium}}</li>	
	<li ng-repeat="genre in work.genres">{{genre}}</li>
	{{work.caption}}

	<div ng-show="work.format == 'text'">
		<div ng-bind-html="work.text"></div>
	</div>

	<input id="select-work" type="checkbox" name="selected" value="{{work.id}}" ng-click="sendSelection(work.id)" ng-model="selected" ng-true-value="{{work.id}}">Show on profile cover?


</div>


	<button ng-click="upload = true">Add To <%= @collection.title %></button>

	<div ng-show="upload">
	<%= link_to "Add Art", new_user_collection_work_path(collection_id: @collection.id, upload_type: 'art') %>
	<%= link_to "Add Writing", new_user_collection_work_path(collection_id: @collection.id, upload_type: 'writing') %>
	</div> -->




 </div>