<div ng-controller="CollectionCtrl">




<div ng-repeat="work in collection.works">

	{{work.title}}
	<img ng-src="{{work.image}}" ng-class="{'uploaded-image': work.format == 'image', 'text-thumbnail': work.format == 'text' }">
	<li ng-repeat="medium in work.media">{{medium}}</li>	
	<li ng-repeat="genre in work.genres">{{medium}}</li>
	{{work.caption}}

	<div ng-show="work.format == 'text'">
		<div ng-bind-html="work.text"></div>
	</div>

</div>


	<button ng-click="upload = true">Add To <%= @collection.title %></button>

	<div ng-show="upload">
	<%= link_to "Add Art", new_user_collection_work_path(collection_id: @collection.id, upload_type: 'art') %>
	<%= link_to "Add Writing", new_user_collection_work_path(collection_id: @collection.id, upload_type: 'writing') %>
	</div>




 </div>