<%= form_for @user, html: {multipart: true} do |f| %>

<div class="file-field profile-image">
	<%= f.file_field :avatar, data: {:"ng-file-select" => "onFileSelect($files)"} %>
</div>
<%= f.submit class: 'image-submit' %>

<% end %>