
<div ng-controller="ProfileCtrl" class='profile-info'>

<div>

<% if current_user.sign_in_count == 1 %>
	<h1>Please fill in your profile details</h1>
<% end %>




	<%= form_for @user, html: {multipart: true} do |f| %>

		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
		<%= f.submit %>

	<% end %>

	<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function">drop picture here</div>


	<% if current_user.avatar.present? %>
 		<img ng-src="{{user.userImage}}" style="height: 100px; width: auto">
	<% end %>



 


	<button ng-click="editable = !editable">Toggle Edit</button>

  <a class="name" ng-show="editable" href="#" name="profile[name]" editable-text="user.name" onaftersave="updateProfile('name', $data)"><h1 class="name">{{user.name || "Name" }}</h1></a>
	<h1 class="name" ng-hide="editable">{{user.name || "Name" }}</h1>  


  <a class="profession" ng-show="editable" href="#" name="profile[profession]" editable-text="user.profession" onaftersave="updateProfile('profession', $data)"><p class="profession">{{user.profession || "Profession" }}</p></a>
  <p class="profession" ng-hide="editable">{{user.profession || "Profession" }}</p>


  <a class="network" ng-show="editable" href="#" name="profile[network]" editable-text="user.network" onaftersave="updateProfile('network', $data)"><p class="network">{{user.network || "Network" }}</p></a>
  <p ng-hide="editable" class="network">{{user.network || "Network" }}</p>


  <a class="short-bio" ng-show="editable" href="#" name="profile[bio]" editable-text="user.shortBio" onaftersave="updateProfile('short_bio', $data)"><p class="short-bio">{{user.shortBio || "Short Bio" }}</p></a>
  <p ng-hide="editable" class="short-bio">{{user.shortBio || "Short Bio" }}</p>


</div>



</div>