
<div class="profile-wrapper" ng-controller="ProfileCtrl as profile">

<!------------------ PROFILE COVER ------------------------------------>
	<% if @user == current_user %>
	<button ng-click="editable = !editable", class="toggle-edit"><p>Toggle Edit</p></button>
	<div class="body-wrapper section">
		<p ng-show="editable">Please fill in your profile details</p>
	<% end %>



		<div class="summary" id="summary-section">

			<div class="profile-info summary-column">
				<div class="info-wrapper">
							<div class="change-profile-pic" ng-show="editable">
								<%= render "new_profile_pic" %>
							</div>
					<div class="pic-wrapper" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function">

						<%= render "profile_picture" %>
					</div>

					<div class="text-inputs"><%= render "information" %></div>
					<p ng-repeat="membership in user.memberships" class="organisations">{{membership.organisationRole}} of {{membership.organisation}}</p>
					<span><button id="follow"></button>
					<button id="message" ng-show="user.messageable"></button></span>
				</div>
			</div>

			<div class="profile-options summary-column">

				<div class="options-wrapper">
					<div class="option" id="portfolio" ng-mouseenter="profile.selection = user.workSelection"><a href="#"><<p>Work<p></a></div>
					<div class="option" id="social" ng-mouseenter="profile.selection = pickPreview"><p>Picks</p></div>
					<div class="option" id="bio" ng-mouseenter="profile.selection = storyPreview"><p>Story</p></div>
				</div>
			</div>

			<div class="profile-preview summary-column">

				<div class="info-wrapper preview-wrapper">

					<div class="work-preview">
						<div class="work-preview-header">
							<h3 id="selections" ng-show="profile.selection == user.workSelection">Selections of Laurie's Work</h3>
							<h3 id="selections" ng-show="1 == 2">What Laurie Likes</h3>
							<h3 id="selections" ng-show="1 == 2">Laurie's Stories</h3>
						</div>

						<div class="work-wrapper" ng-repeat="work in user.workSelection">
							<div class="work">
								<div class="work-preview-info" ng-class="{ 'story': profile.selection == storyPreview }">
									<div id="info">
										<h1 class="preview-title">{{work.title}}</h1>
										from {{work.collection}}
										<p class="short-description">{{work.caption}}</p>
										<div class="additional-info">
											<p class="recommendation-number" ng-class="{ 'story': profile.selection == storyPreview }">{{work.recommendations}}</p>
											<p ng-class="{ 'cool-information' : work.commissionedOrFeatured, 'anthology' : work.anthology, 'single-author' : work.singleAuthor}">{{work.additionalInformation}}</p>
										</div>
								</div>
							</div>

							<div class="preview-pic pic-wrapper" ng-show="profile.selection ">
								<img class="selection" id="profile-pic" ng-src="{{work.image}}">
							</div>
						</div>	
						<div class="hr-wrapper"><hr id="after-work" ng-show="!$last"></div>

					</div>
				</div>
			</div>
		</div>	
	</div>

<!-- ---------------PORTFOLIO----------- -->

	<div class="portfolio" id="work-section" ng-keydown="togglePortfolio($event)" tabindex="0">

		<div ng-include="url"></div>


	</div>
</div>

