// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

.container{
  max-width: 970px !important;
}

body, a{
  color: black !important;
}
.navbar-nav{
  margin-bottom:2em;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover {
  padding-right:5em !important;
  font-size: 1.125em !important;
  backgroundcolor: none !important;
}
.navbar-nav a, a.visit-collection{
  font-family: 'Merriweather', serif!important;
  font-style: italic;
  font-weight: 700 !important;
}

.collection-{
  font-family: 'Merriweather', serif!important;
}
.collection-row{
  margin-bottom: 6em;
}
.collection- h2{
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
  margin: .25em 0 .75em 0;
}
.collection- p{
  font-size: .9em;
  width: 25em;
  margin: 0 0 1em 0;
}
.collection-preview {
  width: 200px;
}
.thumb{
  width: 60px;
  margin-right: .75em;
}
.add-images{
  font-size: 2em !important;
  font-weight: bolder;
}
.btn, .btn:hover, .btn:visited{
  border-radius: 0px !important;
  border: 0px;
  background-color: #000;
  color: #fff;
}
a.visit-collection{
  width: 20em;
  margin-top: .5em;
  text-align: center;
  display: block;
}
